<h1 class="text-center">Vanilla Homepage</h1>

<a href="#" class="js-toggle-target" data-target="#hidden-section">Jquery listener test</a>
<div id="hidden-section" class="u-hidden">Hidden section!</div>
