/* This file is for your main application css. */

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "icons.scss";
@import "layout.scss";
@import "tooltips.scss";
@import "utilities.scss";
