//
// CSS-only tooltips compatible with LiveView.
//
// Example:
//   <span class="u-tooltip-target">
//     Hover on me
//     <div class="u-tooltip">This tooltip will display when hovered</div>
//   </span>
//
// TODO: Check Gyld or WVJ for any styling improvements to incorporate
//
.u-tooltip-target {
  position: relative;
  cursor: help;

  .u-tooltip {
    display: block;
    position: absolute;
    width: auto;
    bottom: 100%;
    left: 50%;
    margin-left: -3em;
    margin-bottom: 10px;
    padding: 0.2rem 0.3rem;
    z-index: 9999;

    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
    border-radius: 0.5rem;
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.6);

    white-space: nowrap;
    background-color: #000;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    font-weight: normal;
    line-height: 1rem;
    pointer-events: none; // prevent clicks on tooltip from clicking the parent element

    // For multi-line tooltips, add this class and override the width if desired.
    &.u-tooltip-multiline {
      width: 15em;
      white-space: pre-wrap;
    }
  }

  // This bridges the gap so you can mouse into the tooltip without it disappearing
  .u-tooltip::before {
    bottom: -10px;
    content: " ";
    display: block;
    height: 10px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  // CSS Triangles
  .u-tooltip::after {
    position: absolute;
    left: 3em;
    bottom: -6px;
    margin-left: -13px;
    height: 0;
    width: 0;
    content: " ";
    border-left: solid transparent 10px;
    border-right: solid transparent 10px;
    border-top: solid #000 10px;
  }

  &:hover .u-tooltip {
    visibility: visible;
    opacity: 1;
  }
}
