
//
// Text
//

.em { font-style: italic; }

.u-nowrap { white-space: nowrap; }

.u-ellipsis { overflow: hidden; text-overflow: ellipsis; }

.u-highlight { animation: yellow-fade 0.5s linear 1; }
@keyframes yellow-fade { 0% {background: #ffa;} 100% {background: #fff;} }

//
// Layout & visibility
//

.u-hidden { display: none; }

// Position action buttons etc. in top-right corner of a div
.u-relative { position: relative; }
.u-abs-top-right { position: absolute; top: 0; right: 0; }

//
// Flexbox layout utils! (WIP)
//

.flex { display: flex; }

.flex-v-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-30px { flex: 0 0 30px; } // fixed-width col, 30px
.flex-75px { flex: 0 0 75px; } // fixed-width col, 75px
.flex-12rem { flex: 0 0 12rem; } // fixed-width col, 12rem
.flex-0 { flex: 0 } // fluid-width col (takes up minimum space needed)
.flex-1 { flex: 1 } // fluid-width col (takes up all available space)

//
// Width
//

.w-10rem { width: 10rem !important; }
.w-20rem { width: 20rem !important; }

.w-100px { width: 100px !important; }
.w-200px { width: 200px !important; }
.w-300px { width: 300px !important; }
.w-400px { width: 400px !important; }

.min-w-0 { min-width: 0 !important; }

.max-w-400px { max-width: 400px !important; }
.max-w-500px { max-width: 500px !important; }
.max-w-600px { max-width: 600px !important; }
.max-w-700px { max-width: 700px !important; }
.max-w-800px { max-width: 800px !important; }
.max-w-900px { max-width: 900px !important; }
.max-w-1000px { max-width: 1000px !important; }

// TODO: Remove these in favor of .mx-auto.max-w-1000 etc.
.u-centered-1000 { max-width: 1000px; margin-left: auto; margin-right: auto; }
.u-centered-800  { max-width:  800px; margin-left: auto; margin-right: auto; }
.u-centered-600  { max-width:  600px; margin-left: auto; margin-right: auto; }

//
// Special widgets
//

.u-card {
  border: 1px solid #ddd;
  background-color: #fff;
  padding: 0.5em;
  margin-bottom: 1em;
  border-radius: 5px;

  .u-card-header {
    padding: 0 0.5em 0.5em 0.5em;
    margin: 0 -0.5em 0.5em -0.5em;
    border-bottom: 1px solid #ccc;
  }
}

.u-box-shadow { box-shadow: 1px 3px 5px 1px #ccc; border-radius: 5px; }

.u-rounded-tag {
  background-color: #fff;
  border-radius: 15px;
  padding: 3px 5px 3px 5px;
}

.u-form-error, .help-block { color: #a00; background-color: #fee; padding: 5px; }
