# Auto-loaded by `config.exs`.
# DO NOT check this file into Git.

"""
HOST_NAME=localhost:4000
DATABASE_URL=postgres://topher:@localhost/triggers_#{Mix.env()}
SECRET_KEY_BASE=aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
DASHBOARD_PASSWORD=password
"""
|> String.split("\n")
|> Enum.reject(& &1 == "")
|> Enum.map(fn line ->
  case Regex.run(~r/^(\w+)=(.*)$/, line) do
    [_, key, value] -> System.put_env(key, value)
    _ -> raise "Can't parse secrets.exs line: #{inspect line}"
  end
end)

#
# Each production environment will need the following env vars set:
#
# - HOST_NAME
# - DATABASE_URL (Heroku PG add-on automatically sets this)
# - SECRET_KEY_BASE (generate this using `mix phx.gen.secret`)
# - ROLLBAR_ACCESS_TOKEN (Heroku Rollbar add-on automatically sets this)
# - SMTP_SERVER
# - SMTP_USERNAME
# - SMTP_PASSWORD
#
